@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-width {
  width: 1900px;
  margin: 0 auto;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
  display: flex;
  width: 200%; /* Ensure the container is twice the width to loop seamlessly */
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.paused {
  animation-play-state: paused !important;
}